<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>
<body>
   <div class="container">
    <hr>
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <h2>Categorias</h2>
        </div>
        <div class="col-auto">
            <a href="/admin/categories/new" class="btn btn-success"> Nova Categoria</a>
        </div>
    </div>
    <hr>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categorias.forEach(categorias => { %>
            <tr>
                <th><%= categorias.id %></th>
                <th><%= categorias.title%></th>
                <th><%= categorias.slug %></th>
                <th>
                    <button class="btn btn-warning">Editar</button>

                   
                    <form method="POST" action="/categories/delete" style="display: inline ;">
                        <input type="hidden" name="id" value="<%= categorias.id %>" >
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </th>
            </tr>
            <% }) %>
        </tbody>

    </table>
   
   </div>
</body>
<%- include('../../partials/footer.ejs')%>